<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{{ name }}</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='viewer.css') }}">
</head>
<body>
<div id="sidebar">
    <h3>Channels</h3>
    <div class="overflow-scroll">
        {% for channel in channels %}
            {% if channel['name'] == name %}
            <a href="{{ url_for('channel_name', name=channel['name']) }}" id="channel-selected">
                #{{ channel['name'] }}
            </a>
            {% else %}
            <a href="{{ url_for('channel_name', name=channel['name']) }}">
                #{{ channel['name'] }}
            </a>
            {% endif %}
            <br />
        {% endfor %}
    </div>
    <h3>Archived Channels</h3>
    <div class="overflow-scroll">
        {% for channel in archived_channels %}
            {% if channel['name'] == name %}
            <a href="{{ url_for('channel_name', name=channel['name']) }}" id="channel-selected">
                #{{ channel['name'] }}
            </a>
            {% else %}
            <a href="{{ url_for('channel_name', name=channel['name']) }}">
                #{{ channel['name'] }}
            </a>
            {% endif %}
            <br />
        {% endfor %}
    </div>
</div>
<div id="messages">
    {% for message in messages %}
    <div>
        <img src="{{ message.img }}"/>
        <div class="message">
            <div class="username">{{ message.username }}</div>
            <div class="time">{{ message.time }}</div>
            <div class="msg">{{ message.msg|safe }}</div>
        </div>
    </div>
    <br/>
    {% endfor %}
</div>
<script type="text/javascript">
    var messages = document.getElementById("messages");
    messages.scrollTop = messages.scrollHeight;
</script>
</body>
</html>
